@font-face {
  font-family: 'BauerBodoniStd-Italic';
  src: url('BauerBodoniStd-Italic.eot');
  src: url('BauerBodoniStd-Italic.eot?#iefix') format('embedded-opentype'),
       url('BauerBodoniStd-Italic.woff2') format('woff2'),
       url('BauerBodoniStd-Italic.woff') format('woff'),
       url('BauerBodoniStd-Italic.ttf') format('truetype'),
       url('BauerBodoniStd-Italic.svg#BauerBodoniStd-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

