@import  url("../fonts/BauerBodoniStd-Italic/font.css");
@import  url("../fonts/GothamHTF/font.css");
@import  url("../fonts/Gotham-Medium/font.css");



body { color: #000; margin-top: 30px; overflow-x: hidden; }


/* FORMAT */

.row.slide { margin-bottom: 180px; }
.color-gold { color: #DBCDA0; }

.margin-top-60 { margin-top: 60px; }
.margin-top-120 { margin-top: 120px; }
.margin-top-180 { margin-top: 180px; }
.margin-top-240 { margin-top: 240px; }
.margin-top-300 { margin-top: 300px; }
.margin-top-360 { margin-top: 360px; }
.margin-top-360 { margin-top: 360px; }
.margin-top-420 { margin-top: 420px; }

.img-center { margin-left: auto; margin-right: auto; }
.img-left { float: left; }
.img-right { float: right; }

.main-title { 
	font-size: 8.6em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1em;
	margin-top: 60px;
}

.main-subtitle {	
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 4.5px;
	margin-top: 30px;
}

/* CLASSES */

.hover-svg {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 300px;
	height: 300px;
}

.hover-svg img { position: absolute; }


.anim-block{
	transform-origin: 50% 50%;
	backface-visibility: hidden;
}

.citazione {
	display: block;
	clear: both;
	width: 100%;
	font-size: 80px;
	font-family: 'BauerBodoniStd-Italic', sans-serif;
	font-style: italic;
	text-transform: uppercase;
}

.firma {
	display: block;
	clear: both;
	width: 100%;
	font-family: 'BauerBodoniStd-Italic', sans-serif;
	font-style: italic;
	font-size: 20px;
	text-transform: uppercase;
}

.video {
	left: -100px;
	top: 40px;
	position: absolute;
}
.video > video{
	-webkit-clip-path: polygon(100% 0, 85% 100%, 0 20%);
	-moz-clip-path: polygon(100% 0, 85% 100%, 0 20%);
	clip-path: polygon(100% 0, 85% 100%, 0 20%);
}

[data-sr] {
 	visibility: hidden;
}

body.no-pointers-events {
  pointer-events: none;
}

#main-content{
	transition: all .5s ease-out;
	transform: translateY(400px); /* legacy */
	transform: translateY(1vh);
	opacity: 0;
	max-height: 100vh;
	overflow: hidden;
}

#main-content.loaded{
	transform: translateY(0); /* legacy */
	opacity: 1;
	max-height: initial;
	overflow: visible;
}

.content-loader{
	transition: all .5s ease-in-out;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	display: block;
	z-index: 1;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	opacity: .5;
}
.loaded .content-loader{
	transform: translateY(-20vh) translateX(-50%);
	opacity: 0;
	pointer-events: none;
}
.container {
  position: relative;
  margin: auto;
}

.slide{
	transition: all .5s ease;
	backface-visibility: hidden;
}

.slide img{
	/*background-color: #ccc;*/
}

.anim-container{
	transition: all 1s ease;
	transform: translateZ(0);
	backface-visibility: hidden;
}
.anim-container.fold-hidden-top{
	transform: translateY(-250px);
}
.anim-container.fold-hidden-top .anim-block{
	background-color: red;
}
.anim-container.fold-hidden-bottom{
	transform: translateY(250px);
}
.anim-container.fold-hidden-bottom .anim-block{
	background-color: blue;
}

/* SINGLE COMPONENTS ID */

#home-credits {
	font-family: 'BauerBodoniStd-Italic', sans-serif;
	font-size: 26px;
	font-style: italic;
}

#credits-right
{
	position: fixed;
	right: 5px;
	top: 48%;
	width: auto;
	text-transform: uppercase;
	font-family: 'GothamHTF-Bold', sans-serif;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

#credits-right,
#credits-right h4 {
	padding: 0;
	margin: 0;
}

#credits-right h4 {
	font-size: 12px;
}

	/* SVG DA ANIMARE */

	#triangolo {
		position: absolute;
		top: 30%;
		left: 10%;
	/*	transform: rotate(35deg);
		-moz-transform: rotate(35deg);
		-webkit-transform: rotate(35deg);*/
	}

	#triangolo-s 
	{
		width: 160%;
		top: -30%;
		left: -30%;

		transform: rotate(-35deg);
		-moz-transform: rotate(-35deg);
		-webkit-transform: rotate(-35deg);
	}


	#cerchio-s 
	{
		width: 130%;
		top: 0%;
		left: -30%;

	}

	#quadrato-s 
	{
		width: 120%;
		top: 10%;
		left: -20%;
	}

	.triangolo-lmp {
		position: absolute;
	}
	
	#triangolo-lampeggiante {
		top: 2%;
		right: 10%;
		width: 380px;
		transform: rotate(65deg);
		-moz-transform: rotate(65deg);
		-webkit-transform: rotate(65deg);
	}

	#triangolo-stivale {
		top: 2%;
		right: 10%;
		width: 380px;
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

	#triangolo-fill {
		top: 2%;
		right: 60%; 
		width: 0; 
		height: 0; 
		line-height: 0; 

		border-bottom: 220px solid #DBCDA0; 
		border-left:   130px solid transparent; 
		border-right:  130px solid transparent;

		transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);		
	}

	#stivale { position: relative; }
	#stivale > span {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 3px solid #DBCDA0;
	}